.rz-paginator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5d717b;
    padding: 0.625rem;
}

.rz-data-grid-data {
    overflow: auto;
    flex: 1;
    box-shadow: none;
}

.rz-paginator-first,
.rz-paginator-prev {
    background-color: #88989b;
    color: #ffffff;
}

.rz-paginator-last,
.rz-paginator-next {
    background-color: #479cc8;
    color: #ffffff;
}

div.departures .rz-grid-table-fixed .rz-frozen-cell {
    position: -webkit-sticky;
    position: sticky;
    background: #2f3d43;
    border-right: 1px solid #45565d !important;
    z-index: 1;
}

div.combo .rz-grid-table-fixed .rz-frozen-cell {
    position: -webkit-sticky;
    position: sticky;
    background: #2f3d43;
    border-right: 1px solid #45565d !important;
    z-index: 1;
}

.rz-data-grid-data {
    overflow: auto;
    flex: 1;
    box-shadow: none;
    background-color: unset;
}

.rz-grid-table-fixed .rz-frozen-cell {
    position: -webkit-sticky;
    position: sticky;
    background: #2f3d43;
    border-right: 1px solid #45565d !important;
    z-index: 1;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        cursor: pointer;
    }

.li-dialog-holder {
    height: 100%;
    display: grid;
    grid-template-rows: auto 60px;
    grid-template-columns: auto;
}

.li-editor-holder {
    display: grid;
    height: calc(100vh - 65px);
    grid-template-rows: auto;
    grid-template-columns: auto;
    font-size: 10pt;
}

.li-editor-top {
    grid-row: 1;
    overflow-y: auto;
    padding-top: 5px;
    padding-left: 5px;
}

.li-editor-tab-holder {
    display: grid;
    height: 100%;
    grid-template-rows: auto 50px;
    grid-template-columns: auto;
    font-size: 10pt;
}

.li-editor-tab-top {
    grid-row: 1;
    overflow-y: auto;
    padding-top: 5px;
    padding-left: 5px;
}

.li-editor-footer {
    grid-row: 2;
    width: 100%;
    display: grid;
    grid-template-rows: 20px auto;
    row-gap: 5px
}

.li-editor-tab-footer {
    grid-row: 2;
    width: 100%;
    display: grid;
    grid-template-rows: 20px auto;
    row-gap: 5px
}

.li-diagram-holder {
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 720px auto;
}

.li-execution-holder {
    height: calc(100vh - 126px);
    margin-top: 120px;
    overflow: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 415px auto;
}

.li-dialog-top {
    grid-row: 1;
    overflow-y: auto;
    padding-top: 5px;
    padding-left: 5px;
}

.li-dialog-footer {
    grid-row: 2;
}

.li-dialog-content {
    overflow-y: auto;
    overflow-x: hidden
}