.rz-paginator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5d717b;
    padding: 0.625rem;
}

.rz-data-grid-data {
    overflow: auto;
    flex: 1;
    box-shadow: none;
}

.rz-paginator-first,
.rz-paginator-prev {
    background-color: #88989b;
    color: #ffffff;
}

.rz-paginator-last,
.rz-paginator-next {
    background-color: #479cc8;
    color: #ffffff;
}

div.departures .rz-grid-table-fixed .rz-frozen-cell {
    position: -webkit-sticky;
    position: sticky;
    background: #2f3d43;
    border-right: 1px solid #45565d !important;
    z-index: 1;
}

div.combo .rz-grid-table-fixed .rz-frozen-cell {
    position: -webkit-sticky;
    position: sticky;
    background: #2f3d43;
    border-right: 1px solid #45565d !important;
    z-index: 1;
}

.rz-data-grid-data {
    overflow: auto;
    flex: 1;
    box-shadow: none;
    background-color: unset;
}

.rz-grid-table-fixed .rz-frozen-cell {
    position: -webkit-sticky;
    position: sticky;
    background: #2f3d43;
    border-right: 1px solid #45565d !important;
    z-index: 1;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        cursor:pointer;
    }